.Keyword{

    background-color: var(--keyword-background-color);
    border : 2px solid var(--card-border-color);
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.875rem;
    margin: 4px;
    display: inline-block;
    white-space: nowrap;

}