:root {
 	--card-background-color: #05192956;
  --keyword-background-color: #071a1a;
 	--card-border-color: rgb(206, 27, 27);
}

.CardContainer {
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  box-shadow: 0 4px 8px #0000001a;
  padding: 8px;
  margin: 4px;
  overflow: hidden;
  transition: transform 0.2s;
    width: 250px;
    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    cursor: pointer;

    
}

.CardContainer:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px #00000033;
  border-color: #61ffff;
  border-width: 2px;
  transition: all 0.1s ease;
}

.CardTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 4px;
  justify-content: center;
}

.CardDescription {
  font-size: 1rem;
  margin: 4px 8px;
  text-align: center;
  flex-grow: 1;
}

.CardKeywordContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;
}

.cardImage {
  
    margin: 4px;
    width: 200px;
    height: 150px;
    object-fit: contain;
    border-radius: 4px;
}

