:root{
    --button-bg-gradient: linear-gradient(
    90deg,
    rgba(20, 13, 21, 1) 0%,
    rgba(38, 16, 26, 1) 33%,
    rgba(54, 22, 38, 1) 66%,
    rgba(56, 25, 32, 1) 100%);

    --default-border-color: rgb(206, 27, 27);
    --text-color: #61ffff;
    --default-title-font-family: 'Orbitron', sans-serif;
    --default-text-font-family: 'Quantico', sans-serif;

    font-family: var(--default-title-font-family);
}




.bg {
  background: linear-gradient(0deg, #0d1925, #3d1417);
  
}

.list-group{

    border-radius : 0px;

}

.main-container{

          padding: 20px;
          flex-direction: row;
          display: flex;
          gap: 20px;
          align-items: start;
          height: 100%;
          position: relative;

          animation: dropDown 0.8s ease-out forwards;


}

@keyframes dropDown {
  from {
    top: -100%;
    opacity: 0;
  }
  
  to {
    top: 0;
    opacity: 1;
  }
}



.list-group-item {
  cursor: pointer;
  background-image: var(--button-bg-gradient);
  border-color: rgb(206, 27, 27);
  color : #61ffff;
  background-size: 400%;
  background-position: 0%;
  transition: background-position 0.3s;
    
}

.list-group-item.active {

  border-color: var(--default-border-color);
  font-weight: 600;
  background-position: 66%;
}

.list-group-item:hover {
  border-color: var(--default-border-color);
    background-position: 33%;
}

.list-group-item.active:hover {

  border-color: var(--default-border-color);
  font-weight: 600;
    background-position: 100%;
}

.content-overhaul-container{
    padding: 10px;
    padding-top: 50px;
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.navbar{
    background-image: linear-gradient(0deg, #b91a252c, #b91a2500);
    border-color : var(--default-border-color);
    border-width: 0px;
    border-bottom-width: 2px;
    border-style: solid;
    color : rgb(209, 51, 51);
    font-weight: 600;
    

}

.nav-link{

  font-family: var(--default-title-font-family);

}

.nav-link:hover{
    color : #fd6464;
    font-weight: 600;
}

.nav-close-button-container{
                position: absolute;
                right: 10px;

                padding: 5px;
                height: 100%;



                animation: dropLeft 0.3s ease-out forwards;
}

.nav-close-button{
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 2px solid var(--default-border-color);
  border-style: solid;
  border-color: var(--default-border-color);
  padding: 2px;
}
                  

.nav-close-button:hover{
    font-weight: 600;
    filter:  saturate(0.7) brightness(1.3);

  }

@keyframes dropLeft {
  from {
    right: 30px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}

.tab-content{
    flex-grow: 0;
    
    margin-top: 5px;
    border: 2px solid rgb(209, 51, 51);

    padding: 5px;

    color : #61ffff;
    position: relative;

    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    overflow-y: auto;


    font-family: var(--default-text-font-family);

    animation: expandFill 0.4s ease-out forwards;

}

@keyframes expandFill{
  from {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

/* I need to add all this boilerplate to have custom scrollbars 
since from what i gather scrollbars are not handled the same across browsers 
cant remember where i got that code from :/ */

/* if you read this there is a funny bug interaction when you try to drag the popup
   and your cursor goes over the scrollbar, the drag doesnt stop but does weird stuff */

/* Firefox */
html, .tab-content {
  scrollbar-width: thin;
  scrollbar-color: var(--default-border-color) transparent;
}

/* webkit */
html::-webkit-scrollbar { width: 10px; height: 10px; }
html::-webkit-scrollbar-track { background: transparent; }
html::-webkit-scrollbar-thumb {
  background-color: var(--default-border-color);
  border-radius: 8px;
  border: 2px solid rgba(0,0,0,0.2);
}

/* Scoped scrollbar just for tab-content (overrides global) */
.tab-content::-webkit-scrollbar { width: 8px; }
.tab-content::-webkit-scrollbar-track { background: transparent; }
.tab-content::-webkit-scrollbar-thumb {
  background-color: var(--default-border-color);
  border-radius: 8px;
  border: 2px solid rgba(0,0,0,0.15);
}



@keyframes drawPath {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#SkillTree path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawPath 0.4s linear forwards;
}

/* Tier 1 - from root */
#SkillTree #ArrowPath0 { animation-delay: 0.3s; }
#SkillTree #ArrowPath1 { animation-delay: 0.4s; }

#SkillTree #ArrowPath00 { animation-delay: 0.5s; }
#SkillTree #ArrowPath01 { animation-delay: 0.6s; }
#SkillTree #ArrowPath10 { animation-delay: 0.7s; }
#SkillTree #ArrowPath11 { animation-delay: 0.8s; }

#SkillTree #ArrowPath110 { animation-delay: 0.9s; }
#SkillTree #ArrowPath111 { animation-delay: 1s; }
#SkillTree #ArrowPath112 { animation-delay: 1.1s; }
#SkillTree #ArrowPath113 { animation-delay: 1.2s; }
#SkillTree #ArrowPath114 { animation-delay: 1.3s; }

#SkillTree #ArrowPath100 { animation-delay: 0.9s; }
#SkillTree #ArrowPath101 { animation-delay: 1s; }
#SkillTree #ArrowPath102 { animation-delay: 1.1s; }

@keyframes drawSlot {
  from {
    stroke-dashoffset: 600;
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

#SkillTree g[id^="SkillSlot"] {
  --slot-delay: 0s;
}

#SkillTree g[id^="SkillSlot"] rect {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  opacity: 0;
  animation: drawSlot 0.45s linear forwards;
  animation-fill-mode: both;
  animation-delay: var(--slot-delay);
}

@keyframes fadeSlotContent {
  from { opacity: 0; visibility: hidden; }
  to { opacity: 1; visibility: visible; }
}



#SkillTree g[id^="SkillSlot"] image,
#SkillTree g[id^="SkillSlot"] text {
  opacity: 0;
  visibility: hidden;
  animation: fadeSlotContent 0.25s ease-out forwards;
  animation-fill-mode: both;
  animation-delay: calc(var(--slot-delay) + 0.2s);
}

#SkillTree g#SkillSlot0 { --slot-delay: 0s; }

#SkillTree g#SkillSlot00 { --slot-delay: 0.1s; }
#SkillTree g#SkillSlot01 { --slot-delay: 0.2s; }


#SkillTree g#SkillSlot011 { --slot-delay: 0.4s; }
#SkillTree g#SkillSlot010 { --slot-delay: 0.5s; }


#SkillTree g#SkillSlot000 { --slot-delay: 0.4s; }
#SkillTree g#SkillSlot001 { --slot-delay: 0.5s; }

#SkillTree g#SkillSlot0100 { --slot-delay: 0.7s; }
#SkillTree g#SkillSlot0101 { --slot-delay: 0.8s; }
#SkillTree g#SkillSlot0102 { --slot-delay: 0.9s; }

#SkillTree g#SkillSlot0110 { --slot-delay: 0.7s; }
#SkillTree g#SkillSlot0111 { --slot-delay: 0.8s; }
#SkillTree g#SkillSlot0112 { --slot-delay: 0.9s; }
#SkillTree g#SkillSlot0113 { --slot-delay: 0.9s; }
#SkillTree g#SkillSlot0114 { --slot-delay: 1s; }




